.game-title {
    text-align: center;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 1000px;
    gap: 25px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    text-align: center;
    align-content: center;
    flex-basis: 200px;

    span {
        font-size: 50px;
        color: #ccc;
    }

    &.flipped {
        transform: rotateY(180deg);
        background-color: #fff;
    
        span {
            color: #000;
        }
    }

    &.opened {
        background-color: #fff;
    
        span {
            color: #000;
        }
    }    
}

@media only screen and (max-width: 600px) {
    .card-container {
        width: 90vw;
        gap: 15px;
    }

    .card {
        margin: 0px;
        flex-basis: 20%;  
    }

    .card span {
        color: #ccc;
    }
    .card.flipped, .card.opened {
        background-color: #fff;
    }
    .card.flipped span, .card.opened span {
        color: #000;
    }
}